<a href="https://colab.research.google.com/github/jdug1981/proyecto_final/blob/main/bank_cris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Bank**


| Variable | Descripción |
|-------------|-------------|
| Edad (Age) | La edad de los clientes o prospectos que fueron contactados |
| Profesión (Job) | La profesión u ocupación de los clientes o prospectos |
| Estado civil (Marital) | El estado civil de los clientes o prospectos (soltero, casado, divorciado, etc.) |
| Nivel de educación (Education) |	El nivel de educación alcanzado por los clientes o prospectos. |
| Crédito por defecto (Default) |	Indica si los clientes tienen o han tenido algún crédito por defecto (sí, no) |
| Saldo promedio anual (Balance) |	El saldo promedio anual en la cuenta bancaria de los clientes |
| Préstamo de vivienda (Housing) | Indica si los clientes tienen un préstamo hipotecario (sí, no) |
| Préstamo personal (Loan) |	Indica si los clientes tienen un préstamo personal (sí, no) |
| Contacto (Contact) |	El método de contacto utilizado para comunicarse con los clientes o prospectos |
| Día de la semana del último contacto (Day) | El día de la semana en que se realizó el último contacto |
| Mes del último contacto (Month) |	El mes en que se realizó el último contacto |
| Duración del contacto (Duration) | La duración en segundos del último contacto realizado con los clientes o prospectos |
| Duración del último contacto (Campaign) | El número de veces que se ha contactado a los clientes o prospectos durante esta campaña |
| Días desde el último contacto (Pdays) |	El número de días transcurridos desde el último contacto realizado en una campaña anterior |
| Contactos realizados antes de campaña (Previous)  | El número de veces que se ha contactado a los clientes o prospectos antes de esta campaña |
| Resultado de la campaña anterior (Poutcome) | El resultado de la campaña de marketing anterior (si tuvo éxito, fracaso, etc.) |
| Suscripción a depósito a plazo fijo (Deposit) | Indica si los clientes se suscribieron o no a un depósito a plazo fijo (sí, no) |

In [ ]:
# Conectar google drive con google colab
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd

# Ruta al archivo CSV en tu Google Drive
file_path = '/content/gdrive/My Drive/bank.csv'

# Lee el archivo CSV y carga los datos en un DataFrame
df = pd.read_csv(file_path)

# Muestra las primeras 5 filas del DataFrame
df.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes